/* app */
.app-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(200px, 450px) minmax(450px, 1fr);
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

/* common */
input {
  background-color: white;
  border-radius: 10px;

  margin: 5px 5px;
  border: 2px solid #333;

  transition: background 0.5s ease-in-out;
  text-align: center;
}
input:focus {
  background-color: #32e0c4;
}
input:hover {
  background-color: #32e0c4;
}

button {
  background-color: white;
  border-radius: 10px;

  margin: 5px 5px;
  border: 2px solid #333;

  transition: background 0.5s ease-in-out;
  text-align: center;
}
button:focus {
  background-color: #32e0c4;
}
button:hover {
  background-color: #32e0c4;
}

/* spinner */
.spinner-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  background-color: #333;
}

.centered-item:hover {
  height: 800px;
  width: 800px;
}

/* we could do this programatically using inline styles with reason... */
.elipse {
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 100%;
  border: 2px white solid;
  border-radius: 50%;
  position: absolute;
}

.name-prompt {
  font-size: 20px;
}
.name-input {
  z-index: 999;
  height: 40px;
}

.rotation1 {
  animation: rotation 16s infinite linear;
}
.rotation2 {
  animation: rotation 24s infinite linear;
}
.rotation3 {
  animation: rotation 32s infinite linear;
}
.rotation4 {
  animation: rotation 40s infinite linear;
}
.rotation5 {
  animation: rotation 48s infinite linear;
}
.rotation6 {
  animation: rotation 56s infinite linear;
}
.rotation7 {
  animation: rotation 64s infinite linear;
}

/* simple animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
