.channel-pannel-container {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;

  border: 1px solid #333;

  overflow-y: hidden;

  animation: fadein 0.2s;
}

/* header */
.channel-header-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 100px;
  background-color: #333;
}
.channel-header-container > button {
  margin: 15px 5px;
  height: 40px;
}
.channel-header-container > div {
  color: white;
  font-size: x-large;

  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}

/* display */
.message-display-container {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.message-display-item-container {
  display: grid;
  grid-template-rows: 15px 15px 1fr 15px;
  grid-template-columns: 1fr;
  overflow-y: visible;

  font-size: 12px;
  min-height: 100px;
  margin: 5px 50px;
  padding: 10px;
  padding-left: 30px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  transition: background 0.15s ease-in-out;
}
.message-display-item-container:hover {
  background-color: #32e0c4;
}

/* message input bar */
.message-input-bar-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 100px;

  background-color: #333;
}
.message-input-bar-container > input {
  margin: 15px 5px;
}
.message-input-bar-container > button {
  margin: 15px 5px;
}
