.navigation-pannel-container {
  display: grid;
  grid-template-rows: 70px 50px max-content 1fr;
  grid-template-columns: 1fr;

  border: 1px solid #333;

  overflow-y: hidden;
}

/* search bar */
.channel-search-bar-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 100px;
}

/* create channel */
.create-channel-container-collapsed {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  max-height: 50px;
  height: 50px;
}

.create-channel-container-open {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 1fr;
  max-height: 400px;
}
.containerx {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* channel info item */
.channel-info-display-container {
  overflow-y: scroll;
}

.channel-info-item-container {
  display: flex;
  align-items: left;

  text-align: left;
  vertical-align: middle;

  margin: 5px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid #333;

  transition: all 0.5s ease-in-out;
  filter: rotation 64s infinite linear colorRotate;
  background-color: white;

  font-size: 12px;
}
.channel-info-item-container:hover {
  background-color: #32e0c4;
  animation: colorRotate 16s infinite linear;
}
.selected-channel {
  background-color: #32e0c4;
  animation: colorRotate 16s infinite linear;
}
.channel-info-item-name {
  display: block;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 5px;
}

.info-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.navigation-pannel-header-container {
  color: white;
  background-color: #333;

  font-size: xx-large;

  text-align: center;
  line-height: 70px;
}
