.navigation-pannel-container {
  display: grid;
  grid-template-rows: 40px 40px minmax(max-content, max-content) 1fr;
  grid-template-columns: 1fr;
  overflow-y: hidden;
}

.channel-search-bar-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 40px;
}

.create-channel-contianer-collapsed {
  max-height: 40px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.create-channel-container-open {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.channel-info-display-container {
  overflow-y: scroll;
}

.channel-info-item-container {
  display: grid;
  grid-template-columns: 50px 1fr;

  height: 80px;
  margin: 5px;
  border: 1px solid #eeeeee;
  transition: background 0.2s ease-in-out;

  font-size: 12px;
}
.channel-info-item-container:hover {
  background-color: #eeeeee;
}

.info-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
